body {
    background-color: #6c4290;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 0 10px;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
    align-content: center;

    text-align: left;
    width: 100%;
}

label,
button {
    color: white;
}

input {
    color: black;
    padding-left: 10px;
}

input {
    /* margin-bottom: 25px; */
    height: 1.2rem;
}

button {
    background-color: #6c4290;
    border: 2px solid white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 24px;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    width: 100%;
    grid-column: 1 / -1;
    /* justify-self: center; */

}

.tos {
    grid-column: 1 / -1;
    justify-self: start;
}

button:hover {
    background-color: #8b57b3;
    border-color: #ccc;
}

#error-message {
    background-color: #fff;
    border: 1px solid #fff;
    color: #ec3a3a;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    width: calc(100%-20px);
    text-align: left;
    margin: 0px;
    grid-column: 1 / -1;
}

input[type="checkbox"] {
    justify-self: start;
}

#links {
    text-align: center;
}

a {
    color: #ccc;
    text-decoration: none;
}

#links a {
    display: block;
    white-space: nowrap;
    margin-right: 10px;
    margin-top: 10px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
    .container {
        max-width: 90%;
    }

    form {
        grid-template-columns: 1fr;
    }
}